.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* animation */

@keyframes steady-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* home */

.about-image {
  background-image: url("./images/anh-nguyen-kcA-c3f_3FE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-bg {
  background-image: url("./images/anh-nguyen-kcA-c3f_3FE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight2 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.larry-pat {
  animation: .5s ease-in-out 0s 1 slideInLeft;
}

.foods {
  animation: 1s ease-in-out 0s 1 slideInLeft;
}

.under-foods {
  animation: 1.5s ease-in-out 0s 1 slideInLeft;
}

.first-image {
  animation: 1s ease-in-out 0s 1 slideInRight;
}

.first-image-itself {
  animation: 10s ease-in-out 2s infinite steady-spin;
}

#order-button {
  font-size: 14px;
}

@media screen and (min-width: 960px) {
  #order-button {
    font-size: 24px;
  }
}

/* about */

.about-1 {
  animation: 2.5s ease-in-out 0s 1 fadeIn;
}

.about-2 {
  animation: 3s ease-in-out 0s 1 slideInRight;
}

.about-3 {
  animation: 3.5s ease-in-out 0s 1 slideInRight;
}

/* prod */

.prod-1 {
  animation: 4s ease-in-out 0s 1 fadeIn;
}

.fullproduct {
  animation: 1s ease-in-out 0s 1 slideInRight;
}

/* back to top */

.back-to-top {
  animation: 2.5s ease-in-out 0s 1 slideInRight2;
}